apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis
spec:
  destination:
    name: ''
    namespace: default
    server: 'https://rancher-test.vtvlive.vn/k8s/clusters/c-klj2x'
  source:
    path: redis
    repoURL: 'https://github.com/hung2602/test-argo.git'
    targetRevision: master
    helm:
      valueFiles:
        - values.yaml
  sources: []
  project: default
  syncPolicy:
    automated: null
